<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glucky"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.glucky.Splashscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.glucky.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.glucky.registro.NuevoUsuarioActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.glucky.Principal.PantallaPrincipal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.glucky.Formulario"
            android:label="@string/title_activity_formulario" >
        </activity>
        <activity
            android:name="com.example.glucky.GustosUsuario"
            android:label="@string/title_activity_gustos_usuario" >
        </activity>
    </application>

</manifest>